[submodule "dependencies/cometbft"]
	path = dependencies/cometbft
	url = https://github.com/cometbft/cometbft.git
[submodule "dependencies/ibc-go"]
	path = dependencies/ibc-go
	url = https://github.com/cosmos/ibc-go.git
[submodule "dependencies/wasmd"]
	url = https://github.com/Finschia/wasmd.git
	path = dependencies/wasmd
[submodule "dependencies/ics23"]
	path = dependencies/ics23
	url = https://github.com/cosmos/ics23.git
[submodule "dependencies/finschia-sdk"]
	path = dependencies/finschia-sdk
	url = https://github.com/Finschia/finschia-sdk.git
