[package]
description = "Standard library for Osmosis with CosmWasm support included"
edition = "2021"
license = "MIT OR Apache-2.0"
name = "finschia-std"
version = "0.21.0"

[dependencies]
chrono = { version = "0.4.27", default-features = false }
cosmwasm-std = { workspace = true, features = ["stargate"] }
finschia-std-derive = { version = "0.20.1", path = "../finschia-std-derive" }
prost = { version = "0.12.3", default-features = false, features = [
    "prost-derive",
] }
prost-types = { version = "0.12.3", default-features = false }
schemars = "0.8.8"
base64 = "0.21.7"

# for query
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde-cw-value = "0.7.0"

[dev-dependencies]
serde_json = "1.0.40"
